<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">postgres</property>
        <!--<property name="hibernate.connection.username">webadmin</property>-->
        <property name="hibernate.connection.password">postgres</property>
        <!--<property name="hibernate.connection.password">QVPmvm33418</property>-->
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/timers_db</property>
        <!--<property name="hibernate.connection.url">jdbc:postgresql://postgres18018-timers.mircloud.host/timers_db</property>-->
        <property name="connection_pool_size">10</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>


        <!--<property name="hibernate.bytecode.use_reflection_optimizer">false</property>-->
        <!--<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>-->
        <!--<property name="hibernate.connection.username">root</property>-->
        <!--<property name="hibernate.connection.password">FHDeev56916</property>-->
        <!--<property name="hibernate.connection.password">root</property>-->
        <!--<property name="hibernate.connection.url">jdbc:mysql://node16908-anti-cafe.mircloud.host/antidb:3306?autoReconnect=true</property>-->
        <!--<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/antidb</property>-->
        <!--<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>-->
        <!--<property name="show_sql">true</property>-->
        <!--<property name="format_sql">true</property>-->
        <!--<property name="hbm2ddl.auto">update</property>-->
        <!--<property name="hibernate.current_session_context_class">thread</property>-->
        <!--<property name="hibernate.c3p0.min_size">5</property>-->
        <!--<property name="hibernate.c3p0.max_size">20</property>-->
        <!--<property name="hibernate.c3p0.timeout">300</property>-->
        <!--<property name="hibernate.c3p0.max_statements">3000</property>-->
        <!--<property name="hibernate.c3p0.idle_test_period">50</property>-->
    </session-factory>
</hibernate-configuration>